.leaderboard {
  width: 100%;
  margin: 0 auto;
  height: 80%;

  & .content {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    border-color: #363B48;
    background-color: #D8504D;
    border-radius: 10px;
    overflow-y: auto;
    height: 100%;

    & h1 {
      margin: 0px 0px 20px 0px;
      color: black;
    }
  }

  & .container {
    width: 85%;
    font-size: 1em;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: bisque;
    color: black;

    &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3) {
      padding: 25px 20px;
      font-size: 1.5em;
      font-weight: bold;
      background-color: black;
      & .username:before {
        color: gold;
        border-radius: 30px;
        width: 30px;
        margin-right: 20px;
        display: inline-block;
        text-align: center;
      }
      & .innerContainer {
        color: gold;
      }
    }

    &:nth-of-type(1) .icon:before {
      content: "1";
      margin-right: 20px;
    }
    &:nth-of-type(2) .icon:before {
      content: "2";
      margin-right: 20px;
    }
    &:nth-of-type(3) .icon:before {
      content: "3";
      margin-right: 20px;
    }

    &:hover {
      transform: scale(1.1);
      transition: .5s;
    }

    & .innerContainer {
      display: grid;
      grid-template-columns: 1fr 7fr 1fr;
      column-gap: 50px;
      align-items: center;
      color:black;

      & .icon {
        display: flex;
        align-items: center;
      }

      & img {
        width: 100%;
      }
    }
  }
}
