
.all-users-container {
    width: 100%;
    margin: 0 auto;
    height: 80%;
  
  & .content {
    width: 95%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    border-color: #363B48;
    background-color: #D8504D;
    border-radius: 10px;
    overflow-y: auto;
    height: 100%;

    & h1 {
      margin: 0px 0px 20px 0px;
      color: black;
    }
  }

  &.userlist {
    width: 85%;
    height: 3em;
    margin: 10px auto;
    padding: 5px 30px;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;

    &:hover{
      transform: scale(1.1);
    }
  
    &.ONLINE {
      background-color: greenyellow;
      color: black;
    }

    &.OFFLINE {
      background-color: black;
      color: white;
    }

    & img {
      height: 100%;
      border-radius: 5px;
    }
  }

}






