.gtp{
  &.item-pic{
    display: block;
    margin: 0 auto 30px auto;
    border-radius: 5px;
    position: center;
    max-height: 300px;
    max-width: 600px;
  }

  &.reply{
    font-family: "Staatliches", serif;
  }

  &.answer-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
  }

  &.answer-button{
    background-color: floralwhite;
    border-radius: 5px;
    height: 150px;
    width: 250px;
    font-family: "Staatliches", cursive;
    font-size: 30px;
    color: #97ABFF;
    transition: .35s;
  }

  &.answer-button:hover{
    transform: scale(1.1);
    background-color: navajowhite;
  }

  &.bonus-and-streak{
    font-family: "Staatliches", cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.bonus{
    margin-left: 45px;
  }
  &.streak{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20px;
  }

}

.timer{
  margin-top: 5px;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  background:floralwhite;
  width: 150px;
  height: 70px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #8208e6;
}

.timer__btn{

  margin-top: 10px;
  width: 50px;
  height: 50px;
  color: floralwhite;
  background: #97ABFF;
  margin-left: 17px;
  border-radius: 6px;
}