@import 'src/styles/_theme';

.header {
  &.container {
    @include center;
  }

  &.title {
    font-weight: bold;
    font-size: 80px;
    font-family: "JetBrains Mono";
    color: #8ff361;
    text-align: center;
    text-shadow: 0 0 2px black;
  }

  &.bg {
    background-image: url("../../components/pictures/2.jpg");
    filter: blur(40px);
    -webkit-filter: blur(40px);
  }

}