.h-or-l{
  &.items{
    margin: 20px auto 40px auto;
    display: flex;

  }

  &.prices{
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  &.item-pic{
    display: flex;
    margin-right: 10px;
    border-radius: 5px;
    position: center;
    max-height: 250px;
    max-width: 380px;
  }
  &.higher{
    background-color: #0db00d;
    border-radius: 5px;
    height: 150px;
    width: 250px;
    font-family: "JetBrains Mono";
    font-size: 30px;
    color: #ffffff;
    transition: .35s;
  }

  &.lower{
    background-color: #dc0000;
    border-radius: 5px;
    height: 150px;
    width: 250px;
    font-family: "JetBrains Mono";
    font-size: 30px;
    color: #ffffff;
    transition: .35s;
  }

  &.higher:hover{
    transform: scale(1.1);
    background-color: #1ff11f;
  }
  &.lower:hover{
    transform: scale(1.1);
    background-color: #ee3030;
  }

  &.higher.active{
    background-color: blue;
  }

  &.left-price{
    color: floralwhite;
    font-family: "JetBrains Mono";
    margin-left: 405px;
  }
  &.right-price{
    margin-right: 390px;
    color: floralwhite;
    font-family: "JetBrains Mono";
  }

  &.game-status-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
  }

}