@import 'src/styles/_theme';

.login {



  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: 60%;
    max-width: 30em;
    height: 35em;
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.2em;
    background-color: sandybrown;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: 0 0 15px #000000;
    font-family: "JetBrains Mono";
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(rgb(60, 61, 60), .6);
    color: #000000;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;

  }

  &.bg {
    background-image: url("../../components/pictures/img1.jpg");
    height: 1024px;
    width: 1300px;
  }
}