@import 'src/styles/_theme';
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Staatliches&family=Varela+Round&display=swap');

.login {

  &.container {
    margin-top: 2em;
    min-height: 10vh;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    zoom: 0.9;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: 100%;
    max-width: 30em;
    height: 25em;
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 10px;
    background-color: sandybrown;
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-family: "Varela Round", sans-serif;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  &.input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;

    background: transparentize(rgb(60, 61, 60), .6);
    color: #000000;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.9em;
  }
  &.button-container button {
    font-family: "Varela Round", sans-serif;
  }

  &.bg {
    background-image: url("../../components/pictures/img1.jpg");
    height: 1024px;
    width: 1300px;
  }

  &.password-toggle {
    position: absolute;
    top: 34.5%;
    left: 827px;
    font-size: 30px; // Increase the font size
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    outline: none;
  }

}