.most-expensive{
  &.brandName{
    font-size: 18px;
  }

  &.top-pics{
    margin-top: 20px;
    margin-left: 400px;
    display: flex;
    align-items: center;

  }
  &.bot-pics{
    margin-left: 400px;
    display: flex;
    align-items: center;
  }

  &.item-pic{
    margin-left: 2px;
    margin-bottom: 2px;
    max-width: 220px;
    max-height: 220px;
    border-radius: 5px;
    transition: .33s;
    box-shadow: black;
  }

  &.item-pic:hover{
    transform: scale(1.2);

  }
}