@import 'src/styles/_theme';

  @import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.base-container {
  font-family: 'Staatliches', cursive;
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
  max-width: $DESKTOP_WIDTH;
  color: $textColor;
  position: relative;
}



