.item-list{
  font-family: "JetBrains Mono", serif;
  color: floralwhite;
  &.items{
    margin-top: 30px;
    margin-left: 50px;
  }
  &.picture{
    height: 500px;
    border-radius: 30px;
    transition: .3s;
  }

  &.structure{
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}