.item-list{
  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
  color: floralwhite;
  font-size: 1.05em;
/*
  &.items{
  }*/
  &.picture{
    height: 330px;
    border-radius: 30px;
    transition: .3s;
  }

  &.structure{
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 88%;
    column-gap: 40px;
  }

  &.price{

    color: gold;
  }

  &.name{
    color: aquamarine;
  }

  & a {
    font-family: "Staatliches", cursive;
    letter-spacing: 1px;
  }


}