
.standings{
  font-family: "Staatliches", cursive;

  &.container {
    box-shadow: 2px 2px 2px grey;
    margin: 0 auto 10px auto;
    width: 20em;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    background: lighten(floralwhite, 5);
    grid-template-columns: 1fr 2fr 0.8fr 0.8fr;
  }
  &.name {
    font-family: "Staatliches", cursive;
    font-weight: 300;
    margin-left: 5px;
  }
  &.username {
    font-family: "Staatliches", cursive;
    font-weight: 500;
    color: #97ABFF;
  }

  &.roundscore{
    font-family: "Staatliches", cursive;
    color: #32f132;
  }

  &.totalscore{
    font-family: "Staatliches", cursive;
    color: #dc0000;
  }

}

.next-question-timer{
  margin-left: auto;
  margin-right: auto;
}

.next-question-title{
  font-size: 33px;
  margin-left: auto;
  margin-right: auto;
  color: #f3ddad;
  font-family: "Staatliches", cursive;
}